<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Biscochuelo</title>
</head>
<body>
    <h1>Biscochuelo</h1>
    
 <p>Facil y simple con pocos ingredientes obtendras un riquisimo acompañamiento para tu desayuno o merienda </p>
 <hr> 
 <h2>Ingredientes</h2>
 <ul>
    <li>2 tazas de harina leudante</li>
    <li>1 taza de azucar</li>
    <li>2 huevos</li>
    <li>1 taza de leche o jugo de fruta o cafe</li>
    <li>1/2 pocillo de aceite</li>
    <li>esencia de vainilla o ralladura de limon</li>
 </ul>
<h2>Paso a Paso</h2>
<ol>
    <li>Mezclar bien los 2 huevos con la taza de azúcar (no batir).</li>
    <li>Agregar el aceite y la ralladura o esencia y mezclar bien, ir agregando harina y leche (o jugo) de a poco hasta que quede una mezcla espesa (no batir en ningún momento solo mezclar).</li>
    <li>Colocar en un molde enmantecado y enharinado y llevarlo al horno precalentado a 180° por 45´ aproximadamente (solo abrir el horno a partir de los 30´ de cocción)</li>

</ol>
<a href="https://cookpad.com/ar/recetas/137131-bizcochuelo-facil-y-economico">
    Leer esta receta <strong>Cookpad</strong>
</a>
</body>
</html>