<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Pancake de Avena</title>
</head>
<body>
    <h1>Pancake de Avena</h1>
    <p>Rico y nutritivo para compartir o para cuando solo tengas hambre. </p>
    <hr>
    <h2>Ingredientes</h2>
    
    <ul>
        <li>1 banana optativo</li>
        <li>1 huevo</li>
        <li>1 cucharada de miel</li>
        <li>1 cucharadita de polvo de hornear</li>
        <li>1 taza de avena</li>
        <li>1 chorrito de leche</li>


    </ul>
    <h2>Paso a paso</h2>
    <ol>
        <li>En un bowl pisar la banana agregarle un huevo y mezclar.</li>
        <li>Agregar la miel con el polvo de hornear. Luego batir.</li>
        <li>Ir agregando de A poco la harina de avena. Y si es necesario agregar la leche. Cocinar en una sartén aceitada o enmantecada de la medida que quieras el pancake.</li>
        <li>Lo puedes acompañar con frutas por arriba como frutilla o más banana y frutos secos (opcional)</li>

    </ol>
    <a href="pancakeDeAvena.html">
        Leer esta receta en <em>pancakeDeAvena</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
        
    </a>
</body>
</html>